---
layout: default
title: 开源项目
keywords: 开源,open-source,GitHub,php,overtrue,开源项目
description: 开源改变世界。我是一个热衷于开源的人，也多多少于参与与创建了一些开源项目，希望在开源这条路上能做出更大更多的贡献。
menu: Open-Source
---

{% assign repos = site.github.public_repositories | sort: "stargazers_count" | reverse %}
<section class="container">
    <header class="text-center">
        <h1>开源项目</h1>
        <p class="lead">共 <span class="repoCount">{{ repos | size }}</span> 个开源项目</p>
    </header>
    <div class="repo-list">
        <ul class="collection-listing clearfix">
            {% for repo in repos %}
            {% if repo.fork %}
              {% continue %}
            {% endif %}
              <li class="collection-card">
                  <a href="{{ repo.html_url }}" target="_blank" class="collection-card-image geopattern" data-pattern-id="{{ repo.name | truncate: 4}}">
                      <h3 class="collection-card-title">{{ repo.name }}</h3>
                  </a>
                  <p class="collection-card-body">{{ repo.description }}</p>
                  <div class="collection-card-meta">
                          <span class="meta-info tooltipped tooltipped-n {{ repo.language }}" aria-label="{{ repo.language }} project">{{ repo.language }}</span>
                          <span class="meta-info tooltipped tooltipped-n" aria-label="{{ repo.stargazers_count }} stars">
                              <span class="octicon octicon-star"></span> {{ repo.stargazers_count }}</span>
                          <span class="meta-info tooltipped tooltipped-n" aria-label="{{ repo.forks_count }} forks">
                              <span class="octicon octicon-git-branch"></span> {{ repo.forks_count }}
                          </span>
                          <span class="meta-info tooltipped tooltipped-n" aria-label="最后更新于：{{ repo.updated_at | date: "%F" }}">
                              <span class="octicon octicon-clock"></span>
                              <time datetime="{{ repo.updated_at }}" title="{{ repo.updated_at | date: "%F" }}"> {{ repo.updated_at | date: "%F" }}</time>
                          </span>
                  </div>
              </li>
          {% endfor %}
        </ul>
    </div>
</section>