---
layout: default
---
<section class="collection-head geopattern" data-pattern-id="home">
    <div class="container">
        <div class="collection-title">
            <h1 class="collection-header">{{ page.title }}</h1>
            <div class="collection-info">
                <span class="meta-info">
                    <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
                </span>
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
 <section class="container content">
        <div class="columns">
            <div class="column three-fourths" >
                <article class="article-content">
                    {{ content }}
                </article>
                <div class="share">
                    {% include sns-share.html %}
                </div>
                <div class="comment">
                    {% include disqus-comments.html %}
                </div>
            </div>
            <div class="column one-fourth">
                <div class="boxed-group flush" role="navigation">
                    <h3>Popular Repositories</h3>
                    <ul class="boxed-group-inner mini-repo-list">
                        <li class="public source ">
                            <a href="/caouecs/Laravel-lang" class="mini-repo-list-item css-truncate" data-ga-click="Dashboard, click, Popular repos list item - context:user visibility:public fork:false">
                                <span class="repo-icon octicon octicon-repo"></span>
                                <span class="repo-and-owner css-truncate-target">
                                    <span class="owner css-truncate-target" title="caouecs">caouecs</span>
                                    /
                                    <span class="repo" title="Laravel-lang">Laravel-lang</span>
                                </span>
                                <span class="stars">
                                    645
                                    <span class="octicon octicon-star"></span>
                                </span>
                            </a>
                        </li>
                        <li class="public source no-description">
                            <a href="/laravel/framework" class="mini-repo-list-item css-truncate" data-ga-click="Dashboard, click, Popular repos list item - context:user visibility:public fork:false">
                                <span class="repo-icon octicon octicon-repo"></span>
                                <span class="repo-and-owner css-truncate-target">
                                    <span class="owner css-truncate-target" title="laravel">laravel</span>
                                    /
                                    <span class="repo" title="framework">framework</span>
                                </span>
                                <span class="stars">
                                    3,509
                                    <span class="octicon octicon-star"></span>
                                </span>
                            </a>
                        </li>
                        <li class="public source ">
                            <a href="/xiaobeicn/programming-skills-summary" class="mini-repo-list-item css-truncate" data-ga-click="Dashboard, click, Popular repos list item - context:user visibility:public fork:false">
                                <span class="repo-icon octicon octicon-repo"></span>
                                <span class="repo-and-owner css-truncate-target">
                                    <span class="owner css-truncate-target" title="xiaobeicn">xiaobeicn</span>
                                    /
                                    <span class="repo" title="programming-skills-summary">programming-skills-summary</span>
                                </span>
                                <span class="stars">
                                    132
                                    <span class="octicon octicon-star"></span>
                                </span>
                            </a>
                        </li>
                        <li class="public source no-description">
                            <a href="/simechiang/e.js" class="mini-repo-list-item css-truncate" data-ga-click="Dashboard, click, Popular repos list item - context:user visibility:public fork:false">
                                <span class="repo-icon octicon octicon-repo"></span>
                                <span class="repo-and-owner css-truncate-target">
                                    <span class="owner css-truncate-target" title="simechiang">simechiang</span>
                                    /
                                    <span class="repo" title="e.js">e.js</span>
                                </span>
                                <span class="stars">
                                    1
                                    <span class="octicon octicon-star"></span>
                                </span>
                            </a>
                        </li>
                        <li class="public source ">
                            <a href="/tymondesigns/jwt-auth" class="mini-repo-list-item css-truncate" data-ga-click="Dashboard, click, Popular repos list item - context:user visibility:public fork:false">
                                <span class="repo-icon octicon octicon-repo"></span>
                                <span class="repo-and-owner css-truncate-target">
                                    <span class="owner css-truncate-target" title="tymondesigns">tymondesigns</span>
                                    /
                                    <span class="repo" title="jwt-auth">jwt-auth</span>
                                </span>
                                <span class="stars">
                                    244
                                    <span class="octicon octicon-star"></span>
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="boxed-group flush" role="navigation">
                    <h3>Repositories contribute to</h3>
                    <ul class="boxed-group-inner mini-repo-list">
                        <li class="public source ">
                            <a href="/caouecs/Laravel-lang" class="mini-repo-list-item css-truncate" data-ga-click="Dashboard, click, Popular repos list item - context:user visibility:public fork:false">
                                <span class="repo-icon octicon octicon-repo"></span>
                                <span class="repo-and-owner css-truncate-target">
                                    <span class="owner css-truncate-target" title="caouecs">caouecs</span>
                                    /
                                    <span class="repo" title="Laravel-lang">Laravel-lang</span>
                                </span>
                                <span class="stars">
                                    645
                                    <span class="octicon octicon-star"></span>
                                </span>
                            </a>
                        </li>
                        <li class="public source no-description">
                            <a href="/laravel/framework" class="mini-repo-list-item css-truncate" data-ga-click="Dashboard, click, Popular repos list item - context:user visibility:public fork:false">
                                <span class="repo-icon octicon octicon-repo"></span>
                                <span class="repo-and-owner css-truncate-target">
                                    <span class="owner css-truncate-target" title="laravel">laravel</span>
                                    /
                                    <span class="repo" title="framework">framework</span>
                                </span>
                                <span class="stars">
                                    3,509
                                    <span class="octicon octicon-star"></span>
                                </span>
                            </a>
                        </li>
                        <li class="public source ">
                            <a href="/xiaobeicn/programming-skills-summary" class="mini-repo-list-item css-truncate" data-ga-click="Dashboard, click, Popular repos list item - context:user visibility:public fork:false">
                                <span class="repo-icon octicon octicon-repo"></span>
                                <span class="repo-and-owner css-truncate-target">
                                    <span class="owner css-truncate-target" title="xiaobeicn">xiaobeicn</span>
                                    /
                                    <span class="repo" title="programming-skills-summary">programming-skills-summary</span>
                                </span>
                                <span class="stars">
                                    132
                                    <span class="octicon octicon-star"></span>
                                </span>
                            </a>
                        </li>
                        <li class="public source no-description">
                            <a href="/simechiang/e.js" class="mini-repo-list-item css-truncate" data-ga-click="Dashboard, click, Popular repos list item - context:user visibility:public fork:false">
                                <span class="repo-icon octicon octicon-repo"></span>
                                <span class="repo-and-owner css-truncate-target">
                                    <span class="owner css-truncate-target" title="simechiang">simechiang</span>
                                    /
                                    <span class="repo" title="e.js">e.js</span>
                                </span>
                                <span class="stars">
                                    1
                                    <span class="octicon octicon-star"></span>
                                </span>
                            </a>
                        </li>
                        <li class="public source ">
                            <a href="/tymondesigns/jwt-auth" class="mini-repo-list-item css-truncate" data-ga-click="Dashboard, click, Popular repos list item - context:user visibility:public fork:false">
                                <span class="repo-icon octicon octicon-repo"></span>
                                <span class="repo-and-owner css-truncate-target">
                                    <span class="owner css-truncate-target" title="tymondesigns">tymondesigns</span>
                                    /
                                    <span class="repo" title="jwt-auth">jwt-auth</span>
                                </span>
                                <span class="stars">
                                    244
                                    <span class="octicon octicon-star"></span>
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- /section.content -->